<div id="index-page-content-wrapper">
    <h1>Welcome to the Hillcombe Shelter Database!</h1>
    <p class="no-border"> Click on one of the page links in the sidebar to view various shelter data.</p>
    <p>Each page contains a table with relevant data. Click one of the rows to view, update, or delete that information. Not all information can be updated, though.</p>
    <div class="two-img-wrapper">
        <img class="index-page-content-img" src="./imgs/row_circled.png" alt="Picture of a table containing animal data with one of the rows circled in red." />
        <img class="index-page-content-img" src="./imgs/view_more_info.png" alt="Picture of a pop-up modal with animal information displayed." />
    </div>
    <p>Each page also contains a dropdown that allows you to filter the table by various attributes.</p>
    <img class="index-page-content-img single-img" src="./imgs/dropdown_circled.png" alt="Picture of animal page with dropdown menu open and circled in red." />
    <p>Click the "add" button on any page to add a new row to the table.</p>
    <div class="two-img-wrapper">  
        <img class="index-page-content-img" src="./imgs/add_button_circled.png" alt="Picture of animal page with add button circled in red." />
        <img class="index-page-content-img" src="./imgs/add_modal.png" alt="Picture of a pop-up modal for adding a new animal." />
    </div>  
</div>